<div class="container">
  <h1 mat-dialog-title>Add new book</h1>
  <form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title">
      <mat-error *ngIf="!formGroup.controls['title'].valid && formGroup.controls['title'].touched">
        {{requiredError}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description">
      <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
        {{requiredError}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quanitity</mat-label>
      <input matInput type="number" placeholder="Quantity" formControlName="count">
      <mat-error *ngIf="!formGroup.controls['count'].valid && formGroup.controls['count'].touched">
        {{requiredError}}
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button>Submit</button>
    </div>
  </form>
</div>